<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 11 Final Project</title>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECS 171 Project</title>

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

        <!-- script -->
        <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    </head>
    <body>
        <!-- navbar -->
        <nav> 
            <ul>
                <li><a href="#intro">📈 Predict Closing Price with Date</a></li>
                <!--
                <li><a href="#problem">📚 Problem Description</a></li>
                <li><a href="#related">🔢 Related Work</a></li>
                <li><a href="#methods">💡 Proposed Methodology</a></li>
                <li><a href="#results">📊 Results and Evaluation</a></li>
                <li><a href="#conclusion">🙂 Conclusion</a></li>
                <li><a href="#sources">📝 Sources</a></li>
                -->
            </ul>
            <ul>
                <li>💻 Github Repo</li>
                <li>📒 Project Report</li>
            </ul>
        </nav>

        <!-- main content; everything that isnt the navbar -->
        <main>
            <section id="#intro">
                <header>
                    <h1>📈 Using Machine Learning to Predict Tesla Stocks</h1>
                    <p>by Dingxian, Clare, Ryan, Stacy, Alvin, Leon, Grant, Mckenzie, Aranza, Tsung, Caitlin</p>
                </header>
                <h2>About</h2>
                <p>Stock prediction is essential in maximizing significant profits. 
                    We’re curious about using machine learning methods to predict stock price and determining a company’s value in the market. 
                    We decided to choose the historical data from <span>Tesla, Inc.</span>, which is an American electric vehicle and 
                    clean energy company based in Palo Alto, California, as our company of choice to apply our prediction algorithm. Ideally, 
                    the results that we produce will help financial instutions with market research. <br/>
                    <br/>
                </p>
            
                <div id="prediction">
                    <h3>This is a small demo using our polynomial regression model to predict closing price of TSLA stocks using a date of your choice. Try it out!</h3>
                    <form action="/" method="post">
                        <input type="date" name="date" id="date-input" value="2021-01-01"
                        min="2010-06-29" max="2021-10-08">
                        <input type="submit" value="Predict" id="submit-btn">
                    </form>

                    {% if predictedDate %}
                        <p>The date you chose is: <span class="prediction-text">{{predictedDate}}</span></p>
                    {% endif %}
                    {% if predictedPrice %}
                        <p>The predicted closing price is <span class="prediction-text">${{predictedPrice}}</span>!</p>
                    {% endif %}
                </div>
            </section>
            
            <!--
            <section id="#problem">
                <h2>Problem Description</h2>
            </section>

            <section id="#related">
                <h2>Related Work</h2>
            </section>

            <section id="#methods">
                <h2>Proposed Methodology</h2>
            </section>

            <section id="#results">
                <h2>Results and Evaluation</h2>
            </section>

            <section id="#conclusion">
                <h2>Conclusion</h2>
            </section>

            <section id="#sources">
                <h2>Sources</h2>
            </section>
            -->

            <div id="group-info">
                ECS 171 - Fall 2021 Group #11
            </div>
        </main>
    </body>
</html>